.nav-link-span {
  color: var(--bg-color-p-dark);
  transition: color .3s ease;
}

.nav-link-span:hover {
  color: var(--light-blue);
}

.navbar-brand {
  color: var(--bg-color-p-dark);
  white-space: normal;
  text-align: center;
  word-break: break-all;
  transition: color .3s ease;
}

.navbar-brand:hover {
  color: var(--light-blue);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  background: var(--bg-color-p-dark);
}

.bg-color-p {
  background-color: var(--bg-color-p);
  color: #fff;
}

.bg-color-s {
  background-color: var(--bg-color-s);
}