@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<partial name="_HeaderPartial" />
<div class="image-header contact">
    <div class="image-header-overlay contact-overlay">
        <div class="container w-container">
            <div class="contact-block">
                <div class="form-title-wrapper">
                    <div class="form-title">Create a new account</div>
                    <h1 class="subpage-title large">Register</h1>
                </div>
                <div class="form w-form">
                    <form id="account" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div class="form-row w-row">
                            <div class="form-column w-col w-col-6">
                                <input asp-for="Input.Email" class="text-field w-input" autocomplete="off"
                                    aria-required="true" placeholder="Your Email" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-column w-col w-col-6"><input asp-for="Input.Password" type="password"
                                    class="text-field w-input" placeholder="Your Password" required="true"
                                    autocomplete="off">
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-column w-col w-col-6"><input asp-for="Input.ConfirmPassword" type="password"
                                    class="text-field w-input" placeholder="Confirm Password" required="true"
                                    autocomplete="off">
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>

                        <button id="registerSubmit" type="submit" class="button color w-button">Register</button>
                        <div asp-validation-summary="ModelOnly" class="w-form-fail" role="alert"></div>
                    </form>
                    <div class="w-form-note">
                        <div>Already have an account? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Log
                                in!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>window.alert = function () { };</script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
