@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h1 class="display-4">@ViewData["Title"]</h1>

<p>About this Project:</p>
<p>DisneyMoviesWatchlist is a server-side web application in C# - ASP.NET Core, Entity Framework and RazorPages. Users can create an account and make a watchist of their favourite Disney animation movies.</p>
