:root {
  --bg-color-p: #281b86;
  --bg-color-p-dark: #0e0648;
  --bg-color-s: #e89500;
  --bg-color-s-dark: #d98c00;
  --light-blue: #dbf2ff;
}

html {
  font-size: 14px;
  background-color: var(--bg-color-p);
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h5 span {
  font-weight: 400;
}