:root {
  --bg-color-p: #281b86;
  --bg-color-p-dark: #0e0648;
  --bg-color-s: #e89500;
  --bg-color-s-dark: #d98c00;
  --light-blue: #dbf2ff;
}

html {
  font-size: 14px;
  background-color: var(--bg-color-p);
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


h5 span {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--bg-color-s);
  transition: color .3s ease;
}

a:hover {
  color: var(--light-blue);
}


.MovieCard {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.MovieCard .card {
  background-color: var(--bg-color-p-dark);
  display: flex;
  align-items: center;
}

.title-link.card-title {
  color: var(--light-blue);
}

.nav-link {
  color: var(--bg-color-p-dark);
  transition: color .3s ease;
}

.nav-link:hover {
  color: var(--light-blue);
}

.btn-primary {
  background-color: var(--bg-color-s-dark);
  border-color: var(--bg-color-s-dark);
  transition: all .3s ease;
}

.btn-primary:hover {
  background-color: var(--bg-color-s);
  border-color: var(--bg-color-s);
}

.form-control:focus {
  border-color: var(--bg-color-s-dark);
  box-shadow: 0 0 0 .25rem var(--bg-color-s);
}

label.form-label {
  color: #000
}

div.checkbox.mb-3>label {
  color: #fff
}

.text-danger {
  color: #ee0a02 !important
}

.form-check-input:checked {
  background-color: var(--bg-color-s);
  border-color: var(--bg-color-s);
}

.nav-pills .nav-link{
  color:#fff;
  transition: color .3s ease;
}
.nav-pills .nav-link:hover{
  color:var(--bg-color-s);
}
.nav-pills .nav-link.active{
  background-color: var(--bg-color-s);
  color:#fff;
}
.form-control:disabled, .form-control[readonly]{
  background-color: #c2c0c0;
}
