<div class="section footer">
    <div class="container w-container">
        <div class="footer-wrapper">
            <div style="display:flex; justify-content:center" class="footer-row w-row">

                <div class="footer-column w-col w-col-4">
                    <div class="footer-title">Pages</div>
                    <a asp-page="/Index" class="footer-link">Home</a>
                    <a asp-page="/Watchlist" class="footer-link">Watchlist</a>
                    <a asp-page="/About" class="footer-link">About</a>
                </div>

                <div class="footer-column w-col w-col-4">
                    <div class="footer-title">Community</div>
                    <a href="https://zainab7681051.github.io/zainab.portfolio/" target="_blank" class="footer-link">Portfolio
                    </a>
                    <a href="https://github.com/zainab7681051/DisneyMoviesWatchlist" target="_blank"
                        class="footer-link">
                        Github
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container w-container">
            <div class="bottom-footer-paragraph">Disney Movies Watchlist by&nbsp;<a
                    href="https://github.com/zainab7681051/" target="_blank"
                    class="bottom-footer-link">Zainab</a>&nbsp;using&nbsp;<a
                    href="https://learn.microsoft.com/en-us/dotnet/framework/get-started/overview" target="_blank"
                    class="bottom-footer-link">the .NET Framework</a></div>
        </div>
    </div>
</div>
