/* .nav-link-span {
  color: #000;
  font-weight: 600;
  transition: color .3s ease;
}

.nav-link-span:hover {
  color: var(--light-blue);
}

.navbar-brand {
  font-family: 'Satisfy', cursive;
  color: #000;
  white-space: normal;
  text-align: center;
  word-break: break-all;
  transition: color .3s ease;
}

.navbar-brand:hover {
  color: var(--light-blue);
}


.navbar-toggler {
  border-color: transparent;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}

.navbar-toggler span {
  width: 2.5rem;
  height: 0.6rem;
  display: flex;
  border-bottom: 2px solid var(--bg-color-p-dark);
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  background: var(--bg-color-p-dark);
}

.bg-color-p {
  background-color: var(--bg-color-p);
  color: #fff;
}

.bg-color-s {
  background-color: var(--bg-color-s);
} */