html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.section-message {
  margin-top: 15px;
  color: #8ea3b3;
  font-size: 35px;
  font-weight: 300;
  text-align: center;
}

.section.footer {
  padding-top: 140px;
  padding-bottom: 0px;
  background-color: #070c0f;
  background-image: linear-gradient(180deg, #081b27, rgba(8, 27, 39, 0.8)), url("../footer-pic.jfif");
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  font-size: 15px;
}

.item-number {
  top: -3%
}

.bookmark-circle {
  transform: translate3d(0px, 150px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  opacity: 1;
  transform-style: preserve-3d;
}

.logo.small {
  margin-top: 34px;
  scale: 7.4;
}
.w-form-note {
  display: flow;
  padding: 20px;
  text-align: center;
  background-color: transparent;
  color: #fff;
}

.w-form-fail{
  flex-direction: column;
}
.w-form-fail {
  border-radius: 11px;
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #b63939;
  font-size: 23px;
  color: #000;
  font-weight: 700;
}
.w-form-fail.validation-summary-errors{
  display:block;
}
.text-danger{
  font-size: 20px;
  color:#ff1515;
}
.image-header.contact {
  height: 100vh;
  min-height: 880px;
  background-image: url("../footer-pic.jfif");
}
@media screen and (max-width: 767px) {

  .hero-section {
    margin-top: 0px;
  }

  .hero-column {
    height: fit-content;
  }

  .container.push-up {
    margin-top: unset;
  }

  .search-wrapper {
    display: block;
    margin: 50px auto 50px;
  }

  .dynamic-page-header {
    height: fit-content;
    min-height: 0;
  }

  .item-number {
    top: 8%
  }

  .section-message {
    font-size: 25px;
  }

  .bookmark-circle {
    transform: translate3d(0px, 50px, 0px)
  }

  .logo.small {
    margin-top: 25px;
    scale: 6.1;
    margin-left: 45px;
}
}

@media screen and (min-width: 768px) {

  .dynamic-header-overlay {
    height: 110%;
  }
}