html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.section-message {
  margin-top: 15px;
  color: #8ea3b3;
  font-size: 35px;
  font-weight: 300;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .hero-section {
    margin-top: 0px;
  }

  .hero-column {
    height: fit-content;
  }

  .container.push-up {
    margin-top: unset;
  }

  .search-wrapper {
    display: block;
    margin: 50px auto 50px;
  }
}